/* Set the background color of body to tan */
    .List{
        margin-left:25em;
    }
  
  /* On screens that are 992px or less, set the background color to blue */
  @media screen and (max-width: 992px) {
   .List{
       margin-left: 5em;
   }
  }
  
  /* On screens that are 600px or less, set the background color to olive */
  @media screen and (max-width: 600px) {
      .List{
          margin-left: -10em;
      }
   
  }